---
BasedOnStyle: Chromium
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: 'false'
BinPackParameters: 'false'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
ReflowComments: 'true'
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceAfterTemplateKeyword: 'true'
UseTab: Never

...
